.vscode
__pycache__/
.ipynb_checkpoints/

# Others
figures
results
scripts/lightning_logs
scripts/wandb
notebooks/lightning_logs
notebooks/XX*

# Data
data_split_test
data/*
!data/features
data/features/*
!data/features/nigeria-cropharvest
data/features/nigeria-cropharvest/*
!data/features/nigeria-cropharvest/labels.geojson
!data/features/nigeria-cropharvest/nigeria_stratified_labelled_v1_splits_resampled.*